.clearfix {
    zoom: 1;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.row {
    margin: 10px auto;
    max-width: 1150px;
}

.visualy-hidden {
    display: none;
}

.progress {
    position: relative;
    margin-bottom: 50px;
    width: 500px;
}
.progress__track {
    margin: 5px 0;
    width: 100%;
    height: 30px;
    border: 1px solid #7aa9e6;
    border-radius: 15px;
    background-color: #77abef;
}
.progress__bar {
    position: relative;
    height: 100%;
    border: 1px solid#7aa9e6;
    border-radius: 15px;
    /* background-color: #e85fb8; */
    background-image: 
    repeating-linear-gradient(
      -45deg,
      #549eff,
      #549eff 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}
@keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 28px 0;
    }
}
.progress__description {}
.progress__cancel {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.progress__cancel:after {
    content: "X";
    margin-left: 10px;
    font-size: 10px;
}

.layout-pull {
    float: left;
}
.layout-push {
    float: right;
}

/**
* Progress Bar small variant
*/
.progress--small {
    width: 300px;
}
.progress--small .progress__track {}
.progress--small .progress__bar {}
.progress--small .progress__cancel {}